<html>

<head>
  <title>
    Hydra Demo
  </title>

</head>

<body>
  <h1>Welcome to hydra demo</h1>

  <form method="post">
    url:
    <input type="text" , name='url'>
    <br> Endpoints: {{apidoc}}
    <br>
    <input type="submit" , value="Connect">
    <br>
    <br>
  </form>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
  <form action="http://localhost:5000/query" method="post">
    query:
    <input type="text" , name='query'>
    <br> Output: {{query_output}}
    <br>
    <br>
  <br> History:{{history}}
  <br>
  <br>
    <input type="submit" , value="Run">

  </form>
  

</body>

</html>
